.*
.*/
!.externalToolBuilders/
!.classpath
!.project
!.tomcatplugin
!.gitattributes
.idea/
bin/
ide/
lib/
logs/
out/
target/
temp-lib/
test-output/
testdata/
*.log
work/
*~
*.class
*.hprof
user.properties

